/*mobile*/
@media (min-width: 0px) and (max-width: 810px) {
  #fourth-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 4rem 2rem 3rem 2rem;
    gap: 3rem;
    .content {
      padding: 0 0 2rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      p:first-of-type {
        font-size: 1.8rem;
        font-weight: 900;
        text-align: center;
      }
      p:nth-of-type(2) {
        font-size: 1.125rem;
        font-weight: 400;
        text-align: center;
        margin: 1.3rem 0 0.5rem 0;
      }
      p:nth-of-type(3) {
        font-size: 1.125rem;
        font-weight: 400;
        text-align: center;
        margin-bottom: 2.5rem;
      }
      p:nth-of-type(4) {
        font-size: 1.5rem;
        font-weight: 900;
        margin-bottom: 1.125rem;
        text-align: center;
      }
      .paragraphs-set {
        p:nth-of-type(1),
        p:nth-of-type(2),
        p:nth-of-type(3) {
          font-weight: 400;
          font-size: 1.125rem;
          margin-bottom: 1rem;
          text-align: center;
        }
      }

      .imgs-set {
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
        align-items: center;
        img:first-of-type {
          height: 53px;
        }
        img:nth-of-type(2) {
          height: 68px;
        }
      }
    }
    #principal-img {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        width: 26rem;
        height: auto;
        margin-bottom: 2rem;
      }
    }
  }
}

/*tablet*/
@media (min-width: 810px) and (max-width: 1280px) {
  #fourth-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 4rem 8.5rem 3rem 8.5rem;
    gap: 3rem;
    .content {
      padding: 0 0 2rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      p:first-of-type {
        font-size: 1.8rem;
        font-weight: 900;
        text-align: center;
      }
      p:nth-of-type(2) {
        font-size: 1.125rem;
        font-weight: 400;
        text-align: center;
        margin: 1.3rem 0 0.5rem 0;
      }
      p:nth-of-type(3) {
        font-size: 1.125rem;
        font-weight: 400;
        text-align: center;
        margin-bottom: 2.5rem;
      }
      p:nth-of-type(4) {
        font-size: 1.5rem;
        font-weight: 900;
        margin-bottom: 1.125rem;
        text-align: center;
      }
      .paragraphs-set {
        p:nth-of-type(1),
        p:nth-of-type(2),
        p:nth-of-type(3) {
          font-weight: 400;
          font-size: 1.125rem;
          margin-bottom: 1rem;
          text-align: center;
        }
      }

      .imgs-set {
        display: flex;
        flex-direction: row;
        gap: 0.7rem;
        align-items: center;
        img:first-of-type {
          height: 53px;
        }
        img:nth-of-type(2) {
          height: 68px;
        }
      }
    }
    #principal-img {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        width: 26rem;
        height: auto;
        margin-bottom: 2rem;
      }
    }
  }
}

/*desktop*/
@media (min-width: 1280px) {
  #fourth-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 4rem 8.5rem 3rem 8.5rem;
    gap: 7.5rem;
    .content {
      padding: 4rem 0;
      width: 55%;

      p:first-of-type {
        font-size: 1.8rem;
        font-weight: 900;
      }
      p:nth-of-type(2) {
        margin: 1.3rem 0 0.5rem 0;
        font-size: 1.125rem;
        font-weight: 400;
      }
      p:nth-of-type(3) {
        font-size: 1.125rem;
        font-weight: 400;
        margin-bottom: 2.5rem;
      }
      p:nth-of-type(4) {
        font-size: 1.5rem;
        font-weight: 900;
        margin-bottom: 1.125rem;
      }
      .paragraphs-set {
        p:nth-of-type(1),
        p:nth-of-type(2),
        p:nth-of-type(3) {
          font-weight: 400;
          font-size: 1.125rem;
          margin-bottom: 1rem;
          padding-left: 0.6rem;
        }
      }

      .imgs-set {
        width: auto;
        display: flex;
        flex-direction: row;
        gap: 0.7rem;
        align-items: center;
        img:first-of-type {
          height: 53px;
        }
        img:nth-of-type(2) {
          height: 68px;
        }
      }
    }
    #principal-img {
      width: 45%;
      img {
        height: 36rem;
      }
    }
  }
}
