.first-section-home {
  background-image: url("/src/assets/images/background.png");
  background-size: cover;
  background-position: center;
}

/*Less than mobile*/
@media (min-width: 0px) and (max-width: 320px) {
  .first-section-home {
    overflow-x: auto;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    #form-section {
      display: flex;
      flex-direction: column;
      padding-top: 25vh;
    }
  }
  section section div .title {
    font-family: "Raleway", sans-serif;
    letter-spacing: 0px;
    color: #36414d;
    font-size: 3rem;
    font-weight: 400;
    padding: 1rem;
    width: fit-content;
    border-bottom: solid 1px #4e4d4d;
    br {
      display: none;
    }
  }

  section section div p {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 1.125rem;
  }
  section section #cta-p {
    width: 100%;
    .paragraph {
      width: 100%;
      padding: 3rem;
      text-align: center;
      br {
        display: none;
      }
    }
    #exams-types {
      display: flex;
      flex-direction: column;
      padding: 2rem;

      div:first-of-type {
        gap: 1rem;
        img:first-of-type {
          min-width: 50%;
          width: 14.5rem;
          height: auto;
        }
        img:nth-of-type(2) {
          min-width: 40%;
          width: 15.5rem;
          height: auto;
        }
      }
      div:nth-of-type(2) {
        img:first-of-type {
          min-width: 40%;
          width: 13rem;
          height: auto;
        }
      }
    }
  }

  section section #form {
    margin: 6rem 0 3rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    div {
      p:first-of-type {
        font-family: "Raleway", sans-serif;
        font-size: 1.5rem;
        margin-bottom: 2rem;
      }
      form {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        justify-content: center;
        width: 100%;
        border-radius: 5px;
        background: #ffffff 0% 0% no-repeat padding-box;
        label {
          display: flex;
          font-family: "Raleway", sans-serif;
          font-size: 1rem;
          font-weight: 700;
          margin: 1.125rem 0 0.625rem 0;
        }
        input {
          border: solid 1px #a4a89d;
          border-radius: 3px;
          margin: 2px;
        }
        .custom-select {
          position: relative;
          display: inline-block;
          width: 100%;
        }

        .custom-select select {
          display: inline-block;
          width: 100%;
          /* padding: 0.5rem; */
          padding: 0 0.5rem 0 0.5rem;
          border: solid 1px #a4a89d;
          border-radius: 3px;
          margin: 2px;

          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          font-family: "Raleway", sans-serif;
          font-size: 1rem;
        }

        .custom-select::after {
          content: "▼";
          font-family: "Raleway", sans-serif;
          font-size: 1rem;
          color: #a8895b;
          position: absolute;
          top: 50%;
          right: 10px;
          transform: translateY(-50%);
          pointer-events: none;
        }

        button {
          background: #a8895b 0% 0% no-repeat padding-box;
          width: 10rem;
          font-weight: 900;
          text-align: center;
          margin: 1rem auto 0 auto;
          padding: 0.5rem;
          border: solid 1px #95989a;
          color: white;
          border-radius: 5px;
          font-family: "Raleway", sans-serif;
          font-size: 1.125rem;
        }
      }
    }
  }
}

/*mobile*/
@media (min-width: 320px) and (max-width: 810px) {
  .first-section-home {
    width: 100%;
    height: fit-content;
    overflow: hidden;
    #form-section {
      display: flex;
      flex-direction: column;
      padding-top: 25vh;
    }
  }
  section section div .title {
    font-family: "Raleway", sans-serif;
    letter-spacing: 0px;
    color: #36414d;
    font-size: 3rem;
    font-weight: 400;
    padding: 1rem;
    width: fit-content;
    border-bottom: solid 1px #4e4d4d;
    br {
      display: none;
    }
  }

  section section div p {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 1.125rem;
  }
  section section #cta-p {
    width: 100%;
    .paragraph {
      width: 100%;
      padding: 3rem;
      text-align: center;
      br {
        display: none;
      }
    }
    #exams-types {
      display: flex;
      flex-direction: column;
      padding: 2rem;

      div:first-of-type {
        gap: 1rem;
        img:first-of-type {
          min-width: 50%;
          width: 14.5rem;
          height: auto;
        }
        img:nth-of-type(2) {
          min-width: 40%;
          width: 15.5rem;
          height: auto;
        }
      }
      div:nth-of-type(2) {
        img:first-of-type {
          min-width: 40%;
          width: 13rem;
          height: auto;
        }
      }
    }
  }

  section section #form {
    margin: 6rem 0 3rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    div {
      p:first-of-type {
        font-family: "Raleway", sans-serif;
        font-size: 1.5rem;
        margin-bottom: 2rem;
      }
      form {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        justify-content: center;
        width: 100%;
        border-radius: 5px;
        background: #ffffff 0% 0% no-repeat padding-box;
        label {
          display: flex;
          font-family: "Raleway", sans-serif;
          font-size: 1rem;
          font-weight: 700;
          margin: 1.125rem 0 0.625rem 0;
        }
        input {
          border: solid 1px #a4a89d;
          border-radius: 3px;
          margin: 2px;
        }
        .custom-select {
          position: relative;
          display: inline-block;
          width: 100%;
        }

        .custom-select select {
          display: inline-block;
          width: 100%;
          /* padding: 0.5rem; */
          padding: 0 0.5rem 0 0.5rem;
          border: solid 1px #a4a89d;
          border-radius: 3px;
          margin: 2px;

          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          font-family: "Raleway", sans-serif;
          font-size: 1rem;
        }

        .custom-select::after {
          content: "▼";
          font-family: "Raleway", sans-serif;
          font-size: 1rem;
          color: #a8895b;
          position: absolute;
          top: 50%;
          right: 10px;
          transform: translateY(-50%);
          pointer-events: none;
        }

        button {
          background: #a8895b 0% 0% no-repeat padding-box;
          width: 10rem;
          font-weight: 900;
          text-align: center;
          margin: 1rem auto 0 auto;
          padding: 0.5rem;
          border: solid 1px #95989a;
          color: white;
          border-radius: 5px;
          font-family: "Raleway", sans-serif;
          font-size: 1.125rem;
        }
      }
    }
  }
}

/*Tablet*/
@media (min-width: 810px) and (max-width: 1280px) {
  .first-section-home {
    width: 100%;
    min-height: 52rem;
    height: 100vh;
    overflow: hidden;
    section {
      padding-top: 25vh;
    }
  }
  section section div .title {
    font-family: "Raleway", sans-serif;
    letter-spacing: 0px;
    color: #36414d;
    font-size: 3rem;
    font-weight: 400;
    padding: 0 0 0.8rem 7rem;
    margin-bottom: 2rem;
    width: fit-content;
    border-bottom: solid 1px #4e4d4d;
  }

  section section div p {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 1.125rem;
  }
  section section #cta-p {
    width: 51%;
    .paragraph {
      width: 100%;
      padding-left: 7rem;
      text-align: center;
    }
    #exams-types {
      display: flex;
      flex-direction: column;
      margin-top: 2.8rem;
      padding: 0 0 0 7rem;

      div:first-of-type {
        gap: 1rem;
        img:first-of-type {
          min-width: 50%;
          width: 14.5rem;
          height: auto;
        }
        img:nth-of-type(2) {
          min-width: 40%;
          width: 15.5rem;
          height: auto;
        }
      }
      div:nth-of-type(2) {
        img:first-of-type {
          min-width: 40%;
          width: 13rem;
          height: auto;
        }
      }
    }
  }

  section section #form {
    margin-top: 5rem;
    width: 49%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    div {
      p:first-of-type {
        font-family: "Raleway", sans-serif;
        font-size: 1.5rem;
        margin-bottom: 2rem;
      }
      form {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        justify-content: center;
        width: 100%;
        border-radius: 5px;
        background: #ffffff 0% 0% no-repeat padding-box;
        label {
          display: flex;
          font-family: "Raleway", sans-serif;
          font-size: 1rem;
          font-weight: 700;
          margin: 1.125rem 0 0.625rem 0;
        }
        input {
          border: solid 1px #a4a89d;
          border-radius: 3px;
          margin: 2px;
        }
        .custom-select {
          position: relative;
          display: inline-block;
          width: 100%;
        }

        .custom-select select {
          display: inline-block;
          width: 100%;
          /* padding: 0.5rem; */
          padding: 0 0.5rem 0 0.5rem;
          border: solid 1px #a4a89d;
          border-radius: 3px;
          margin: 2px;

          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          font-family: "Raleway", sans-serif;
          font-size: 1rem;
        }

        .custom-select::after {
          content: "▼";
          font-family: "Raleway", sans-serif;
          font-size: 1rem;
          color: #a8895b;
          position: absolute;
          top: 50%;
          right: 10px;
          transform: translateY(-50%);
          pointer-events: none;
        }

        button {
          background: #a8895b 0% 0% no-repeat padding-box;
          width: 10rem;
          font-weight: 900;
          text-align: center;
          margin: 1rem auto 0 auto;
          padding: 0.5rem;
          border: solid 1px #95989a;
          color: white;
          border-radius: 5px;
          font-family: "Raleway", sans-serif;
          font-size: 1.125rem;
        }
      }
    }
  }
}

/*desktop*/
@media (min-width: 1280px) {
  .first-section-home {
    width: 100%;
    min-height: 52rem;
    height: fit-content;

    section {
      padding-top: 25vh;
    }
  }
  section section div .title,
  section section div .paragraph {
    display: flex;
    justify-content: end;
    font-family: "Raleway", sans-serif;
    padding-left: 30%;
  }
  section section div .paragraph {
    font-weight: 600;
    font-size: 1.125rem;
  }
  section section div .title {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 0px;
    color: #36414d;
    border-bottom: solid 1px #4e4d4d;
    /* width: 100%;
      padding: 0 0 0.8rem clamp(7rem, 10vw + 2rem, 50rem);
  
      width: fit-content;
  
      br {
        display: none;
      } */
  }

  section section #cta-p {
    width: 51%;
    padding: 3rem 0 3rem 0;

    #exams-types {
      display: flex;
      flex-direction: column;
      padding: 0 0 0 30%;
      /* flex-wrap: wrap; */
      margin-top: 2.8rem;
      width: fit-content;
      /*REVISAR AQUI*/
      div:first-of-type {
        gap: 1rem;
        img:first-of-type {
          /* min-width: 50%; */
          width: 14.5rem;
          height: auto;
        }
        img:nth-of-type(2) {
          /* min-width: 40%; */
          width: 15.5rem;
          height: auto;
        }
      }
      div:nth-of-type(2) {
        img:first-of-type {
          /* min-width: 40%; */
          width: 13rem;
          height: auto;
        }
      }
    }
  }

  section section #form {
    margin: 5rem 0 5rem 0;
    width: 49%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    div {
      p:first-of-type {
        font-family: "Raleway", sans-serif;
        font-size: 1.5rem;
        margin-bottom: 2rem;
      }
      form {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        justify-content: center;
        width: 100%;
        border-radius: 5px;
        background: #ffffff 0% 0% no-repeat padding-box;
        label {
          display: flex;
          font-family: "Raleway", sans-serif;
          font-size: 1rem;
          font-weight: 700;
          margin: 1.125rem 0 0.625rem 0;
        }
        input {
          border: solid 1px #a4a89d;
          border-radius: 3px;
          margin: 2px;
        }
        .custom-select {
          position: relative;
          display: inline-block;
          width: 100%;
        }

        .custom-select select {
          display: inline-block;
          width: 100%;
          /* padding: 0.5rem; */
          padding: 0 0.5rem 0 0.5rem;
          border: solid 1px #a4a89d;
          border-radius: 3px;
          margin: 2px;

          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          font-family: "Raleway", sans-serif;
          font-size: 1rem;
        }

        .custom-select::after {
          content: "▼";
          font-family: "Raleway", sans-serif;
          font-size: 1rem;
          color: #a8895b;
          position: absolute;
          top: 50%;
          right: 10px;
          transform: translateY(-50%);
          pointer-events: none;
        }

        button {
          background: #a8895b 0% 0% no-repeat padding-box;
          width: 10rem;
          font-weight: 900;
          text-align: center;
          margin: 1rem auto 0 auto;
          padding: 0.5rem;
          border: solid 1px #95989a;
          color: white;
          border-radius: 5px;
          font-family: "Raleway", sans-serif;
          font-size: 1.125rem;
        }
      }
    }
  }
}
